<link rel="stylesheet" href="css/Estilo.css">
<link rel="stylesheet" href="css/EstiloAcercaDe.css">
<div class="col-lg-12 header">
    <div class="container container-fluid">
        <div class="panel panel-default menu col-lg-3">
            <div class="panel-body list-group">
                <a href="#!/crearusuario" class="list-group-item botonMenu"><div class="centrarTexto">AGREGAR NUEVO USUARIO</div></a>
                <a href="#!/MenuPrincipal" class="list-group-item botonMenu"><div class="centrarTexto">REGISTRAR NUEVA PERSONA</div></a>
                <a href="#" class="list-group-item botonMenu"><div style="text-align: center;">CONTROL DE ENTRADA Y SALIDA DEL PERSONAL</div></a>
                <a href="#" class="list-group-item botonMenu "><div class="centrarTexto">REPORTES DEL PERSONAL</div></a>
            </div>
        </div>
        <form class="form-inline frmSearch text-right col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control masLargo" placeholder="Buscar por...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="container container-fluid contenedor">
    <div class="col-lg-offset-3 col-lg-9 principal">
        <div class="panel panel-default contenido">
            <div class="panel-body">
                <div class="titulo">
                    <h2>&copy; IMPERIUM<span><img class="Imagen" src="img/logo.jpg" alt=""/></span></h2> 
                </div>
                <div class="comentario">
                    <p>Control Entrada y Salida Version 1.0
                    </p>
                    <h6>Copyright 2017 Todos los Derechos Reservados.
                        Advertencia! Este programa esta protegido por las leyes de derecho de autor y otros tratados de protección intelectual,
                        queda totalmente prohibida la reproducción y distribución parcial o total de este producto sin la debida autorización 
                        de sus autores está penalizada por la ley con severas sanciones penales y civiles.
                    </h6>
                </div>
                <div class="row">
                    <div class="col-xs-6 ">
                        INSTRUCTOR ASESOR:<br>
                        Julian Andres Lasso Figuerova<br>
                    </div>
                    <div class="col-xs-6 ">
                        <h6>APRENDICES DESARROLLADORES:   <br>                      
                            Alejandro Mazuera Martinez      <br>                        
                            Camilo Pelaez Ramirez           <br>
                            Cesar Augusto Cifuentes Posada  <br>
                            Duvan Andres Monsalve Suarez    <br>
                            Victor Manuel Guzman Ruiz       </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-3 col-lg-9 text-right footer">
            <a href="#!/acercade"><button class="btn datosPersonales ">&copy; Acerca de...</button></a>
            <button class="btn datosPersonales">Cerrar Sesión</button>
        </div>
    </div>
