<link rel="stylesheet" href="css/Estilo.css">
<link rel="stylesheet" href=" css/estilosreportes.css"/>

<div class="col-lg-12 header">
    <div class="container container-fluid">
        <div class="panel panel-default menu col-lg-3">
            <div class="panel-body list-group">
                <a ng-show="(rol == Administrador) ? true : false" href="#!/crearusuario" class="list-group-item botonMenu"><div class="centrarTexto">AGREGAR NUEVO USUARIO</div></a>
                <a ng-show="(rol == Administrador) ? true : false" href="#!/menuprincipal" class="list-group-item botonMenu"><div class="centrarTexto">REGISTRAR NUEVA PERSONA</div></a>
                <a href="#!/controlentradasalida" class="list-group-item botonMenu"><div style="text-align: center;">CONTROL DE ENTRADA Y SALIDA DEL PERSONAL</div></a>
                <a ng-show="(rol == Administrador) ? true : false" href="#!/reportes" class="list-group-item botonMenu "><div class="centrarTexto">REPORTES DEL PERSONAL</div></a>
            </div>
        </div>
        <form ng-submit="buscar()" class="form-inline frmSearch text-right col-lg-6">
            <div class="input-group">
                <input ng-model="bus.texto" type="text" class="form-control masLargo" placeholder="Buscar por..." required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="container container-fluid contenedor">
    <div class="col-lg-offset-3 col-lg-9 principal">
        <div class="panel panel-default contenido">
            <div class="panel-body">
                <div>
                    <div class="container-fluid">
						<div class="panel principal">
							<div class="table-responsive">
								<div>
									<table class="table table-bordered">
										<tr>
											<th>NOMBRE</th>
											<th>APELLIDOS</th>
											<th>CEDULA</th>
											<th>TELEFONO</th>
											<th>CORREO</th>
											<th>DIRECCION</th>
											<th>ACCION</th>
										</tr>
										<tr ng-repeat="x in cargarDatos">
											<td>{{x.per_nombres}}</td>
											<td>{{x.per_apellidos}}</td>
											<td>{{x.per_cedula}}</td>
											<td>{{x.per_notelefono}}</td>
											<td>{{x.per_correo}}</td>
											<td>{{x.per_direccionresidencia}}</td>
											<td>
												<i ng-click="editardatospersona(x)" title="Editar" class="glyphicon glyphicon-pencil"></i>
												<i ng-click="eliminar(x)" class="glyphicon glyphicon-trash"></i>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
                    </div>


                    <div class="modal fade bs-example-modal-sm" tabindex="-1" id="eliminarContacto" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash"></i>
                                        Eliminar Contacto</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-success" ng-show="usuarioEliminado">
                                        <center>Usuario Eliminado</center>
                                    </div>
                                    <center>
                                        <h4>Esta seguro?</h4>
                                        <p>Se va a eliminar el Usuario</p>
                                        <h3>{{nombre}}</h3>
                                    </center>
                                    <button ng-click="submitEliminarContacto()" type="button" class="btn btn-block btn-sm" style="background-color: #00a2ee; color: white;">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
	<div class="col-lg-offset-3 col-lg-9 text-right footer" ng-include=" 'app/template/partial/pie.html'"></div>
</div>