<link rel="stylesheet" href="css/Estilo.css">
<div class="col-lg-12 header" ng-include=" 'app/template/partial/menu.html'"></div>
<div class="container container-fluid contenedor">
    <div class="col-lg-offset-3 col-lg-9 principal">
        <div class="panel panel-default contenido">
            <div class="panel-body">

                <div class="page-header">
                    <h1>Nuevo usuario</h1>
                </div>

                <div class="row">
                    <form class="form-horizontal col-lg-offset-3 col-lg-6">
                        <div class="form-group">
                            <!-- columna 1 -->
                            <div>
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre">
                            </div>
                        </div>
                        <!-- columna 2 -->
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Apellido">
                            </div>
                        </div>
                        <!-- crear panel -->
                        <div class="form-group">
                            <!-- columna 3 -->
                            <div>
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Cédula">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Telefono">
                            </div>
                        </div>
                        <!-- crear panel -->
                        <!-- columna 4 -->
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Correo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Rol">
                            </div>
                        </div>
                        <!-- crear panel -->
                        <div class="form-group">
                            <!-- columna5 -->
                            <div>
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Alias">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn datosPersonales">Guardar</button>
                            <button type="button" class="btn datosPersonales">Cancelar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
       <div class="col-lg-offset-3 col-lg-9 text-right footer" ng-include=" 'app/template/partial/pie.html'"></div>
    </div>  
</div>