<link rel="stylesheet" href="css/EstiloLogin.css">
<body>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 divLogin1">
            <hr />
            <center>
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <div class="panel panel">
                            <div class="panel-heading"><img class="logoClinica" src="img/d.png" alt=""/></div>
                            <div class="panel-body">
                                <form action="checklogin.php" method="post" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="USUARIO" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="CONTRASEÑA" required>
                                    </div>
                                    <a href="#!/menuprincipal"><button type="button" class="btn btn-block btnIniciar">Iniciar Sesión</button></a> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
            <hr />
        </div>
    </div>
</body>